.resources
    margin-top 35px
    clearfix()

.resources__col
    float left
    width 25%


.resources__title
	margin-top: 0
	margin-bottom: 10px
    font-size 16px

.resources__list
    margin 0
    padding 0
    list-style-type none

.resources__title
.resources__list
    padding-right: 10px

.resources__link
	color #33c
	font-size 13px