.b-block {
  width: 200px;
  margin: 0 auto;
  position: relative;
  top: 20px;
  border: 1px solid #000;
  margin: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-bottom: 2px solid #f00;
  float: left;
}
