.table-detail__th
	color: #6d6e6e
	font-size: 13px

.table-detail__th_now
	font-size: 18px
	color: #000

.table-detail__temp
	font-size: 16px
	color: #000


.vertical-align-bottom
	vertical-align: bottom !important

.vertical-align-top
	vertical-align: top !important

.table-detail__temp_now
	font-size: 27px

.table-detail__tr_top td
	vertical-align: top !important

.table-detail__w-info
	font-size: 11px
	color: #000
	padding: 5px 5px 20px 5px !important
	vertical-align: top !important

.table-detail__w-info img
	padding: 0 5px 0 0

.table-detail__more-info
	font-size: 13px
	color: #797979
	padding: 5px 5px 5px 20px !important

.table-detail__yesterday
	font-size: 13px
	color: #6d6e6e

.table-detail__reg
	margin: 15px 0 0 0