.weather-60
 background-color 	#519fdd
.weather-58
 background-color 	#56a2dd
.weather-56
 background-color 	#5ba5de
.weather-54
 background-color 	#60a7de
.weather-52
 background-color    #66aadf
.weather-50
 background-color 	#6bade0
.weather-48
 background-color 	#70afe0
.weather-46
 background-color 	#76b2e1
.weather-44
 background-color 	#7bb5e2
.weather-42
 background-color 	#80b7e2
.weather-40
 background-color 	#86bae3
.weather-38
 background-color 	#8bbde3
.weather-36
 background-color 	#90bfe4
.weather-34
 background-color 	#95c2e5
.weather-32
 background-color 	#9bc5e5
.weather-30
 background-color 	#a0c7e6
.weather-28
 background-color 	#a0c7e6
.weather-26
 background-color 	#abcde7
.weather-24
 background-color 	#b0cfe8
.weather-22
 background-color 	#b5d2e9
.weather-20
 background-color 	#bbd5e9
.weather-18
 background-color 	#c0d7ea
.weather-16
 background-color 	#c5daea
.weather-14
 background-color 	#caddeb
.weather-12
 background-color 	#d0dfec
.weather-10
 background-color 	#d5e2ec
.weather-8
 background-color 	#dae5ed
.weather-6
 background-color 	#e0e7ee
.weather-4
 background-color 	#e5eaee
.weather-2
 background-color 	#eaedef
.weather0
 background-color 	#f0eff0
.weather2
 background-color 	#f0f0ec
.weather4
 background-color 	#f1f0e9
.weather6
 background-color 	#f2f0e6
.weather8
 background-color 	#f3f1e3
.weather10
 background-color 	#f4f1e0
.weather12
 background-color 	#f5f2dc
.weather14
 background-color 	#f5f2d9
.weather16
 background-color 	#f6f3d6
.weather18
 background-color 	#f7f3d3
.weather20
 background-color 	#f8f4d0
.weather22
 background-color 	#f8f1c8
.weather24
 background-color 	#f9eec0
.weather26
 background-color 	#f9ebb9
.weather28
 background-color 	#f9e8b1
.weather30
 background-color 	#fae5aa
.weather32
 background-color 	#fae3a3
.weather34
 background-color 	#fae09c
.weather36
 background-color 	#fbde96
.weather38
 background-color 	#fbdb8f
.weather40
 background-color 	#fbd988
.weather42
 background-color 	#fcd682
.weather44
 background-color 	#fcd47b
.weather46
 background-color 	#fcd174
.weather48
 background-color 	#fdcf6e
.weather50
 background-color 	#fdcc67
.weather52
 background-color 	#fdca60
.weather54
 background-color 	#fec759
.weather56
 background-color 	#fec553
.weather58
 background-color 	#fec24c
.weather60
 background-color 	#ffc045
