.weather-short
    width 100%
    text-align left
    border none
    border-collapse collapse
.weather-short__item
    width 11%
    font-weight normal
.weather-short__item_holidays
    color #f00
.weather-short__dayname
    font-size 22px
    margin 0
    vertical-align top
.weather-short__date
    font-size 13px
    margin 0
.weather-short__gap
    width 20px
.weather-short__dayweather
    padding 10px 10px 25px
    position relative
.weather-short__descr
    margin 0 0 5px
    font-size 10px
    line-height 1.2
.weather-short__temperature
    font-size 16px
    line-height 1
    margin 0
    position absolute
    bottom 10px
    left 10px
.weather-short__nightweather
    padding 10px
.weather-short__night-temperature
    font-size 13px
    color $lightText
    margin 0
.weather-short__icon
    width 28px
