.b-block 
	width 200px
	margin 0 auto
	position relative
	top 20px
	border: 1px solid #000
	margin 10px
	border-radius 10px
	transition all 0.2s ease	
	border-bottom 2px solid red
	float left

	



	
