.content
    margin-top 22px
    clearfix()

.content__tabs
    display block
.content__weather-short
    margin-top 22px

.content__weather-climate
    margin-top 40px

.weather-spinner
    display: block
    height: 42px
    width: 42px
    margin: 0 auto