.weather-detail
    clearfix()

.weather-detail__select-city, .weather-detail__rotater
    float: left

.weather-detail__table-detail
    border-collapse: collapse
    margin: 20px 0 0 0

.weather-detail__table-detail td, .weather-detail__table-detail th
    padding: 5px
    vertical-align: middle
    text-align: left

.weather-detail__rotater
    float: right