.content__weather-full
    margin-top 20px
.weather-full__table-title
    vertical-align bottom
    font-size 11px
    line-height 12px
    font-weight normal
    text-align left
    padding 0 0 5px

.weather-full
    width 100%
    border-collapse collapse
.weather-full__date-cell
    width 90px
    vertical-align top
.weather-full__day-name
    font-size 13px
    line-height 18px
    display inline-block
    vertical-align top
.weather-full__date
    display inline-block
    vertical-align top
    margin-left 10px
.weather-full__date-number
    display block
    font-size 36px
    line-height 1
    margin-bottom -6px
.weather-full__date-month
    font-size 13px
    line-height 18px
.weather-full__time-of-day-cell
    position relative
    width 55px
    padding 15px 10px
    font-size 16px
.weather-full__date-cell_holydays
    color #f00

.weather-full__time-of-day
    position absolute
    left 10px
    top 1px
    color $lightText
    font-size 11px
.weather-full__row
    border-bottom 1px solid #ffffff
    min-height 52px
.weather-full__icon
    vertical-align middle
    width 50px
.weather-full__descr
    font-size 13px
    vertical-align middle
.weather-full__pressure
    vertical-align middle
    width 90px
    font-size 13px
.weather-full__humidity
    width 70px
    font-size 13px
.weather-full__wind-icon
    width 30px
    text-align: center
    img
        width: 16px
        &.wind-ne
            transform: rotate(45deg)
        &.wind-e
            transform: rotate(90deg)
        &.wind-se
            transform: rotate(135deg)
        &.wind-s
            transform: rotate(180deg)
        &.wind-sw
            transform: rotate(225deg)
        &.wind-w
            transform: rotate(270deg)
        &.wind-nw
            transform: rotate(315deg)

.wind-direction
    margin: 3px 0 0 0
    font-size: 10px
    color: #696d76

.weather-full__wind-speed
    width 80px
    font-size 13px
.weather-full__sun
    padding-left: 20px;
    font-size 13px
    padding-top 16px
    vertical-align top
    position relative
    width 55px
.weather-full__sun-title
    color $lightText
    font-size 11px
    display block
    position absolute
    left 20px
    top 1px
.weather-full__moon-icon
    width 25px
    padding-top 13px
    vertical-align top
.weather-full__magnetic-field
    position relative
    padding-left 20px
    font-size 13px
    width 150px
    padding-top 16px
    vertical-align top
.weather-full__magnetic-field-title
    color $lightText
    font-size 11px
    display block
    position absolute
    left 20px
    top 1px
.weather-full__row-gap
    height 18px
