.user__avatar, .user__name
	display: inline-block
	vertical-align: middle

.user__avatar
	border-radius: 50%
	padding-right: 5px

.user__name
	text-decoration: none
	color: #000
	font-size: 13px 

.user__red
	color: #ff0000