/*шрифты и цвета, и любые переменные*/
$standartFont = "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif

$borderColor = rgba(0,0,0,0.4)
$activeColor = #ffeaae
$lightText = #6d6e6e


$weather-60 =	#519fdd
$weather-58 =	#56a2dd
$weather-56 =	#5ba5de
$weather-54 =	#60a7de
$weather-52	=   #66aadf
$weather-50 =	#6bade0
$weather-48 =	#70afe0
$weather-46 =	#76b2e1
$weather-44 =	#7bb5e2
$weather-42 =	#80b7e2
$weather-40 =	#86bae3
$weather-38 =	#8bbde3
$weather-36 =	#90bfe4
$weather-34 =	#95c2e5
$weather-32 =	#9bc5e5
$weather-30 =	#a0c7e6
$weather-28 =	#a0c7e6
$weather-26 =	#abcde7
$weather-24 =	#b0cfe8
$weather-22 =	#b5d2e9
$weather-20 =	#bbd5e9
$weather-18 =	#c0d7ea
$weather-16 =	#c5daea
$weather-14 =	#caddeb
$weather-12 =	#d0dfec
$weather-10 =	#d5e2ec
$weather-8  =	#dae5ed
$weather-6  =	#e0e7ee
$weather-4  =	#e5eaee
$weather-2  =	#eaedef
$weather0   =	#f0eff0
$weather2   =	#f0f0ec
$weather4   =	#f1f0e9
$weather6   =	#f2f0e6
$weather8   =	#f3f1e3
$weather10  =	#f4f1e0
$weather12  =	#f5f2dc
$weather14  =	#f5f2d9
$weather16  =	#f6f3d6
$weather18  =	#f7f3d3
$weather20  =	#f8f4d0
$weather22  =	#f8f1c8
$weather24  =	#f9eec0
$weather26  =	#f9ebb9
$weather28  =	#f9e8b1
$weather30  =	#fae5aa
$weather32  =	#fae3a3
$weather34  =	#fae09c
$weather36  =	#fbde96
$weather38  =	#fbdb8f
$weather40  =	#fbd988
$weather42  =	#fcd682
$weather44  =	#fcd47b
$weather46  =	#fcd174
$weather48  =	#fdcf6e
$weather50  =	#fdcc67
$weather52  =	#fdca60
$weather54  =	#fec759
$weather56  =	#fec553
$weather58  =	#fec24c
$weather60  =	#ffc045
