header {
	margin: 20px 0 50px 0;
	clearfix()
}

.header__logo, .header__search
	float: left

.header__logo
	margin: 0 20px 0 0

.header__user
	float: right

.search-suggest-item-temp
    margin-left: 20px
