.search-info
    font-size: 16px
    position: relative

.search-info__h1
    border: 2px solid #ffca00
    border-right: none
    padding: 5px 10px
    margin: 0
    font-size: 16px
    font-weight: 400

.search-info__arrow
    background: url(arrow.png) no-repeat;
    width: 10px
    height: 32px
    margin-left: -5px

.search-info__h1, .search-info__arrow
    display: inline-block
    vertical-align: middle