.footer
	position absolute
	bottom 0
	left 0
	right 0
	border-top solid 1px #d6d5d2
	min-height 80px
	font-size 11px

.footer-spacer
	height 130px

.footer__wrapper
	margin 0 auto
	padding 10px 25px 0

.footer__useful
.footer__info
.footer__links
.footer__copyrights
	float left
    
.footer__useful
	width 24%

.footer__info
	width 44%

.footer__links
	width 19%

.footer__copyrights
	width 13%
	text-align right

.footer__block
	padding-top 4px
	padding-right 15px

.footer :link
	color: #747eaf