.footer
	position absolute
	bottom 0
	left 0
	right 0
	border-top solid 1px #d6d5d2
	min-height 80px
	font-size 11px

.footer-spacer
	height 130px

.footer__wrapper
	margin 0 auto
	padding 10px 25px 0

.footer__col_1
.footer__col_2
.footer__col_3
.footer__col_4
	float left
    
.footer__col_1
	width 24%

.footer__col_2
	width 44%

.footer__col_3
	width 19%

.footer__col_4
	width 13%
	text-align right

.footer__block
	padding-top 4px
	padding-right 15px

.footer__link
	color: #747eaf