doctype html
html
  head
    meta(charset='utf-8')
    title=(data.weather.info.name)
    link(href='/static/index.css', rel='stylesheet')
  body
    header(style='height: 100px; background-color: #b5d592')
    div#content
    script(type='application/json' id='initial-data') !{JSON.stringify(data)}
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/react/0.12.1/react.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js')
    script(type='text/javascript' src='/static/bundle.js')
