doctype html
html
  head
    meta(charset='utf-8')
    title Yandex Weather
    link(href='/static/index.css', rel='stylesheet')
  body
    header
      .header__top
          .header__logo
            img(src='logo.png', width='82', height='33')
          .header__search
            .search
              .search__search-info
                .search-info
                  h1.search-info__h1 Погода
                  .search-info__arrow
              form.search__form(action='')
                input.search__input(type='text')
                button.search__button Найти
          .header__user
            .user
              img.user__avatar(src='userpic.jpg', width='42', height='42')
              a.user__name(href='#')
                span.user__red S
                | arah Connor
    .weather-detail
      .weather-detail__select-city
        h2.select-city__h2 Екатеринбург
        .city-list
          p.city-list__p
            | Другой город
            img(src='active-arrow.png')
          ul.city-list__ul
            li.city-list__ul_li_begin Последние города
            li.city-list__ul_li_active Москва
            li Санкт-Петербург
            li Екатеринбург
            li.city-list__ul_li_end Все города
        table.weather-detail__table-detail
          tr.table-detail__th
            th.table-detail__th_now сейчас
            th днем
            th вечером
            th ночью
            td
          tr.table-detail__temp
            td.table-detail__temp_now.vertical-align-bottom.weather30 +30 °C
            td.vertical-align-bottom.weather14 +15 °C
            td.vertical-align-bottom.weather4 +4 °C
            td.vertical-align-bottom.weather-2 −2 °C
            td.table-detail__more-info.vertical-align-top(rowspan='2')
              | Давление: 735 мм рт. ст.
              br
              | Ветер: северо-восточный, 2.7 м/с (9.7 км/ч)
              br
              | Влажность: 72%
              br
              | Восход: 06:36 Заход: 21:24
              br
              p.table-detail__reg
                | Данные зарегистрированы недавно
                a(href='#')
                  img(src='_.png')
          tr.table-detail__tr_top
            td.table-detail__w-info.weather30
              img(src='w-ico.png')
              | малооблачно
            td.weather14
              img(src='w-ico-min.png')
            td.weather4
              img(src='w-ico-min.png')
            td.weather-2
              img(src='w-ico-min.png')
          tr
            td.table-detail__yesterday(colspan='5') вчера +10 °C
      .weather-detail__rotater
        img(src='rotator.jpg')

    div#content

    section(style='height: 153px; line-height: 153px; text-align: center; background: #f6f5f3; margin-top: 40px;')
      | Здесь будет находиться Директ.
    section.resources
      .resources__col
        h1.resources__title Погода на карте
        ul.resources__list
          li
            a.link.resources__link(href='#') Центр России
          li
            a.link.resources__link(href='#') Росссия
          li
            a.link.resources__link(href='#') Европа
      .resources__col
        h1.resources__title Другие прогнозы
        ul.resources__list
          li
            a.link.resources__link(href='#') Гисметео
          li
            a.link.resources__link(href='#') Гидрометцентр России
          li
            a.link.resources__link(href='#') Weather.com
      .resources__col
        h1.resources__title Погода с собой
        ul.resources__list
          li
            a.link.resources__link(href='#') Информер
          li
            a.link.resources__link(href='#') Настольный виджет
          li
            a.link.resources__link(href='#') Погода в вашем браузере
      .resources__col
        h1.resources__title Другой вид
        ul.resources__list
          li
            a.link.resources__link(href='#') Виджет для Яндекса
          li
            a.link.resources__link(href='#') В миниатюре

    .footer-spacer

    footer.footer
      .footer__wrapper
        .footer__col_1
          .footer__block
            a.link.footer__link(href='#') Пользовательское соглашение
          .footer__block
            a.link.footer__link(href='#') Мобильная версия
        .footer__col_2
          .footer__block Прогноз погоды: Екатеринбург и еще 12268 городов в 229 странах
          .footer__block
            | Данные предоставлены
            a.link.footer__link(href='#') FORECA
        .footer__col_3
          .footer__block
            a.link.footer__link(href='#') Статистика
          .footer__block
            a.link.footer__link(href='#') Обратная связь
          .footer__block
            a.link.footer__link(href='#') Реклама
        .footer__col_4
          .footer__block
            | &copy; 2000-2014 &laquo;
            a.link.footer__link(href='#') Яндекс
            | &raquo;

    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/react/0.12.1/react.min.js')
    script(type='text/javascript' src='//cdn.rawgit.com/rackt/react-router/master/dist/react-router.min.js')
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js')
    script(type='text/javascript' src='//cdn.socket.io/socket.io-1.2.0.js')
    script(type='text/javascript' src='//es6-promises.s3.amazonaws.com/es6-promise-2.0.0.min.js')
    script(type='text/javascript' src='/static/bundle.js')
